/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    #hero {
        max-height: 660px;
    }

    #related img {
        height: 50px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    #hero {
        height: 540px;
    }

    #about {
        padding-top: 40px;
    }

    #related {
        text-align: center;
    }

    #related img {
        height: 40px;
    }

    #related ul {
        float: none;
    }

    #related h4 {
        display: none;
    }

    #shotsByPlayerId li {
        width: 47%;
    }

    #shotsByPlayerId li:first-child {
        width: 97%;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left,.navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav>li {
        float: none;
        padding-left: 30px;
        overflow: hidden;
    }

    .collapse.in {
        display: block !important;
    }
}

/* Mobile Devices */
@media only screen and (max-width : 640px) {
    
    h2 {
        font-size: 1.9em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.1em;
    }

    #hero {
        height: 400px;
    }

    .herocontent {
        padding-top: 30px;
    }

    #about {
        text-align: center;
    }

    #shotsByPlayerId li {
        width: 96%;
    }

    .footerlinks li {
        display: none;
    }
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    #hero {
        height: 320px;
    }

    #related {
        display: none;
    }

    .footersocial li {
        font-size: 1.5em;
    }
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    #hero {
        height: 480px;
    }

    .herocontent {
        padding-top: 100px;
        padding-bottom: 30px;
    }
}